<div class="container">
    <aside class="left">
        <form class="username">
            <input autofocus type="text" placeholder="Enter a name to enter"/>
            <button class="enter">Join</button>
        </form>
        <ul class="people"></ul>
    </aside>
    <main class="right">
        <header class="top">
            <h1>Chat app</h1>
        </header>
        <ul id="messages" class="chat"></ul>
        <form class="write" >
            <input disabled="true" id="chat-input" type="text" placeholder="Type here!"/>
            <button  class="send">Send</button>
        </form>
    </main>
</div>
